* {
    margin: 0;
    padding: 0;
    font-family: arvo;
    box-sizing: border-box;
    text-decoration: none;
}

header {
    height:20vh;
    width: 100vw;
    background-color: #f1ca63;

}
header .container {
    width:95%;
    height:100%;
    display:grid;
    grid-template-columns: 1fr 3fr;
    justify-content:center;
    align-items:center;
    margin: 0 auto;
}

header img {
    height: 100px;
    width: 100px;
    margin-left: 10px;
    margin-top: 12px;
}

header nav a:after{
    content: "";
    position:absolute;
    background-color:#FC984D;
    height:3px;
    width:0;
    left: 0;
    bottom:-10px;
    transition: 0.3s all
}

header nav a:hover::after{
    width: 100%;
}
header nav a {
    color:white;
    font-family: roboto;
    position: relative;
    padding-left:20px;
    font-size:20px; 
    
}

main div .secao1{
    width:100%;
    height:100%;
    margin:0 auto;

}

main .secao1 #chamada{
    background-color: #e6d7c2;
    color: #FC984D;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
    width:100%;
    font-size: 50px;

}
#cartao-sobre{
   display:grid;
   grid-template-columns: 60% 40%;

}
#cartao-sobre div img{
   transform:rotate(90deg);  
}

.imagem1{
   width: 100%;
}


main{

    font-family: roboto, arial, helvetica;
    background-repeat:no-repeat;
    background-size: 100%;
    height: 100%;
    background-color: #eed797;
    

}

main .secao1 #chamada h1{
    font-family: 'Roboto', sans-serif;
    font-size:50px;
    margin-left: 30px;
}


main ol li {
    color: rgb(17, 16, 16);
    font-size: 20px;
    text-align:justify;
    list-style: none;

}

main span {
    font-size:50px;
}

.icones img {
    height: 25px;
    width: 25px;
}

.secao2{
    display: grid;
    justify-content: center;
    background-color: #eed797;
    grid-template-columns: 1fr 1fr ;
    align-items: center;
    width:100%;
    font-size: 25px;


}
.secao2 h5 {
    color: rgb(14, 13, 13);
    font-size: 20px;
    margin-top: 16px;
    display: flex;
    flex-direction: column; 
    font-weight: normal; 
    text-align:justify;
    margin:10px 30px; 
}

.imagem2{
   width: 500px;

}
.secao2 h1{
   display:flex;
   flex-direction: row;
   font-size: 60px;
   line-height:40px;
   margin: 10px 30px; 
}
h2 {
    color:#3e5426 ;
    font-size:200%;

}
.secao3{
    display: grid;
    justify-content: center;
    background-color: #eed797;
    grid-template-columns: 1fr 1fr ;
    align-items: center;
    width:100%;
    font-size: 25px;
}
#produtos{
    justify-content: center;
    margin-left: 30px;
}

.secao3{
    display: grid;
    justify-content: center;
    background-color: #eed797;
    grid-template-columns: 1fr 1fr ;
    align-items: center;
    width:100%;
    font-size: 25px;

}

.imagem3{

    margin-left: 30px;
}
.form1{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
    flex-direction: column;
    background-color: #eed797;
}

span{
    color: #3e5426;
    text-align: center;
    font-size:60px;
}

form{
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 300px;
}

form input{
    margin-top: 20px;
    padding-left: 10px;
    height: 40px;
    border: none;
    outline: none;
    font-family: 'Oswald';

}

input::placeholder{
    color: #000;
    text-transform: uppercase;
}


.secao3 .lista1 li{
 display: flex;
 flex-direction: column;
 justify-content: flex-end;
 list-style: disc;
}

.form-contact {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;  
    text-align: center;
}

.form-contact input {
    border: 1px solid #3e5426;;
    border-radius: 14px;
    width: 200px;
    padding: 3px;
}

.form-contact label {
    display: block;
    margin-top: 20px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 4px;
    color:#3e5426;
    justify-content: center;
    align-items: center;
}

#submit {
    color: #ffffff;
    margin-top: 15px;
    background-color: #3e5426;
    text-align: center;
    justify-content: center;
    align-items: center;
}

p{
    color: #3e5426;
    text-align: center;
    font-size: 35px;
}

h6 {
    color: #3e5426;
    text-align: center;
    font-size: 25px;
}

.secao4 {
    display: grid;
    justify-content: center;
    background-color: #eed797;
    grid-template-columns: 1fr 1fr ;
     align-items: center;
     width:100%;
     font-size: 25px;
    }
    
    .secao5{
    background-color: #eed797;
    }

footer{
    background-color: #3e5426;
    align-items: center;
    width: 100%;
    color: white;
    text-align: center;
}